 <div class="main-div">
  <div class="main-content">
    <%= form_with(model: @slug) do |form| %>
      <div class="box-main main-title"> <%= t('views.slug.new.field_info') %> </div>

      <div>
        <%= form.text_field :target_url, class: "box-main main-field" %>
      </div>

      <div >
        <%= form.submit t('views.slug.new.submit_btn'), class: "box-main main-btn" %>
      </div>
    <% end %>
  </div>
</div>
