<h3> Total Clicks: <%= @clicks.count %></h3>

<p>
  <strong> short url: </strong>
  <%= @slug.short_url %>
</p>

<p>
  <strong> target url: </strong>
  <%= @slug.target_url %>
</p>

<h4> clicks list </h4>

<% @clicks.each do |click| %>
  <p> <%= click.remote_ip %> </p>
<% end %>
